In [1]:
%matplotlib inline
import pandas as pd

In [3]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [4]:
titles = pd.read_csv('data/titles.csv')
titles.head()

                          title  year
0             Llamadas obscenas  1996
1              Beach Boy Rebels  1969
2                       Scandal  1917
3  Mano mano 2: Ubusan ng lakas  2001
4               Karate daisenso  1978

In [20]:
titles[(titles.year >= 1990) & (titles.year < 1991)]

                                title  year
59           Aventure de Catherine C.  1990
259         Passage Through: A Ritual  1990
390                           Sykorka  1990
666                   Bir küçük bulut  1990
989     Manden der ville være skyldig  1990
...                               ...   ...
269949            Tsetskhltan tamashi  1990
270040                  Ten to Chi to  1990
270085          O Escorpião Escarlate  1990
270252                Betsy's Wedding  1990
270317               Deja Vu: Vanessa  1990

[2585 rows x 2 columns]

In [22]:
titles[~titles.year.between(1990, 2000)]

                               title  year
1                   Beach Boy Rebels  1969
2                            Scandal  1917
3       Mano mano 2: Ubusan ng lakas  2001
4                    Karate daisenso  1978
5                           Paterson  2016
...                              ...   ...
270338               Crooked Streets  1920
270339      Huisvrouwen bestaan niet  2017
270340              A Pure Formality  2018
270341                     Aftermath  2013
270342                  Drawing Home  2016

[242312 rows x 2 columns]

In [24]:
titles[titles.title == "Macbeth"].sort_values('year')

          title  year
40171   Macbeth  1913
31048   Macbeth  1916
41479   Macbeth  1948
13856   Macbeth  1987
52057   Macbeth  1997
105926  Macbeth  1998
142101  Macbeth  2003
133835  Macbeth  2004
56896   Macbeth  2006
112985  Macbeth  2009
143376  Macbeth  2012
133331  Macbeth  2013
122447  Macbeth  2014
72976   Macbeth  2015
1800    Macbeth  2017
166983  Macbeth  2018

In [25]:
cast = pd.read_csv('data/cast.csv')

In [26]:
cast.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4136497 entries, 0 to 4136496
Data columns (total 6 columns):
title        object
year         int64
name         object
type         object
character    object
n            float64
dtypes: float64(1), int64(1), object(4)
memory usage: 189.4+ MB

In [27]:
cast.head(20)

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,31.0
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
5,Straight Outta Compton,2015,$hutter,actor,Club Patron,NaN
6,Straight Outta Compton,2015,$hutter,actor,Dopeman,NaN
7,For Thy Love 2,2009,Bee Moe $lim,actor,Thug 1,NaN
8,"Lapis, Ballpen at Diploma, a True to Life Journey",2014,Jori ' Danilo' Jurado Jr.,actor,Jaime (young),9.0
9,Desire (III),2014,Syaiful 'Ariffin,actor,Actor Playing Eteocles from 'Antigone',NaN
10,When the Man Went South,2014,Taipaleti 'Atu'ake,actor,Two Palms - Ua'i Paame,8.0
11,Little Angel (Angelita),2015,Michael 'babeepower' Viera,actor,Chico,9.0
12,Mixing Nia,1998,Michael 'babeepower' Viera,actor,Rapper,NaN
13,The Replacements,2000,Steven 'Bear'Boyd,actor,Defensive Tackle - Washington Sentinels,NaN
14,All Out Dysfunktion!,2016,Kirlew 'bliss' Vilbon,actor,Bliss,NaN
15,Gook,2017,Kirlew 'bliss' Vilbon,actor,Bliss,NaN
16,My Song for You,2010,George 'Bootsy' Thomas,actor,Cooley's Customer,16.0
17,My Song for You,2010,George 'Bootsy' Thomas,actor,Celebration Guest,16.0
18,Hustle Beach,2017,Pete 'Boretta' Torres,actor,Tony,NaN
19,Mariano Mison... NBI,1997,Joseph 'Byron' Sese,actor,Putik's Son,31.0

In [29]:
pb = cast[cast.title == "The Princess Bride"].sort_values('n')

In [30]:
pb[pb.n.notna()]

,title,year,name,type,character,n
727770,The Princess Bride,1987,Cary Elwes,actor,Westley,1.0
1913217,The Princess Bride,1987,Mandy Patinkin,actor,Inigo Montoya,2.0
2199516,The Princess Bride,1987,Chris Sarandon,actor,Prince Humperdinck,3.0
972564,The Princess Bride,1987,Christopher Guest,actor,Count Rugen,4.0
2267224,The Princess Bride,1987,Wallace Shawn,actor,Vizzini,5.0
68622,The Princess Bride,1987,André the Giant,actor,Fezzik,6.0
2206950,The Princess Bride,1987,Fred Savage,actor,The Grandson,7.0
4108082,The Princess Bride,1987,Robin (V) Wright,actress,The Princess Bride,8.0
756616,The Princess Bride,1987,Peter Falk,actor,The Grandfather,9.0
502745,The Princess Bride,1987,Peter Cook,actor,The Impressive Clergyman,10.0
2323392,The Princess Bride,1987,Mel Smith,actor,The Albino,11.0
3374757,The Princess Bride,1987,Carol Kane,actress,Valerie,12.0
542012,The Princess Bride,1987,Billy Crystal,actor,Miracle Max,13.0
3108943,The Princess Bride,1987,Anne Dyson,actress,The Queen,14.0
3554093,The Princess Bride,1987,Margery Mason,actress,The Ancient Booer,15.0
2388955,The Princess Bride,1987,Malcolm Storry,actor,Yellin,16.0
950229,The Princess Bride,1987,Willoughby Gray,actor,The King,17.0
2907392,The Princess Bride,1987,Betsy Brantley,actress,The Mother,18.0
122664,The Princess Bride,1987,Paul Badger,actor,The Assistant Brute,19.0

### How many movies are listed in the titles dataframe?

In [31]:
len(titles)

270343

### What are the earliest two films listed in the titles dataframe?

In [34]:
titles.sort_values('year')[0:2]

                     title  year
265157          Miss Jerry  1894
268557  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [39]:
hamlet = titles[titles.title == "Hamlet"]
len(hamlet)

20

### How many movies are titled "The Princess Bride"?

In [38]:
len(titles[titles.title == "The Princess Bride"])

1

### When was the first movie titled "Hamlet" made?

In [51]:
hamlet.sort_values('year').iloc[0].year

1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [55]:
ti = titles[titles.title == "Treasure Island"].sort_values('year').year

In [56]:
ti

190338    1918
20555     1920
191252    1934
27920     1950
7236      1972
97314     1973
102338    1985
255718    1999
Name: year, dtype: int64

### How many movies were made in the year 1950?

In [57]:
len(titles[titles.year == 1950])

1308

### How many movies were made in the year 1960?

In [58]:
len(titles[titles.year == 1960])

1863

### How many movies were made from 1950 through 1959?

In [64]:
len(titles[(titles.year >= 1950) & (titles.year <= 1959)])

15283

### In what years has a movie titled "Batman" been released?

In [69]:
batman = titles[titles.title == "Batman"].year
batman

23000     1989
195308    1943
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [70]:
len(cast[cast.title == "Inception"])

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [72]:
inception = cast[cast.title == "Inception"]

In [76]:
len(inception[inception.n.isna()])

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [75]:
len(inception[inception.n.notna()])

51

### Display the cast of "The Princess Bride" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

### How many roles were credited in the silent version of Hamlet from 1921?

### How many roles were credited in Kenneth Branagh's Hamlet from 1996 ?

### How many "Hamlet" roles have been listed in all film credits through history?

### How many people have played an "Ophelia"?

### How many people have played a role called "The Dude"?

### How many people have played a role called "The Stranger"?

### How many roles has Sidney Poitier played throughout his career?

### How many roles has Judi Dench played?

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

### List the leading roles that Cary Grant played in the 1940s in order by year.

### How many roles were available for actors in the 1950s?

### How many roles were available for actresses in the 1950s?

### How many leading roles (n=1) were available from the beginning of film history through 1980?

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?